<div
	  class="items-center bg-white flex w-full flex-col px-16 py-12 max-md:max-w-full max-md:px-5"
	>
	  <div
		class="items-stretch self-stretch flex w-full justify-between gap-5 mt-8 max-md:max-w-full max-md:flex-wrap"
	  >
		<img
		  loading="lazy"
		  src="https://cdn.builder.io/api/v1/image/assets/TEMP/39009e9b43f35d2f8a10c23c8273488f5af346c43292f833894777c8059a6a4a?apiKey=9ab81557e95a4d01afa409e418116847&"
		  class="aspect-[2.33] object-contain object-center w-[63px] overflow-hidden shrink-0 max-w-full"
		/>
		<div
		  class="self-center flex items-stretch justify-between gap-5 my-auto max-md:max-w-full max-md:flex-wrap"
		>
		  <div
			class="items-stretch flex justify-between gap-5 max-md:max-w-full max-md:flex-wrap"
		  >
			<div
			  class="text-black text-base font-semibold leading-6 grow whitespace-nowrap"
			>
			  Find Jobs
			</div>
			<div class="text-black text-base font-semibold leading-6">
			  Job Listings
			</div>
			<div class="text-black text-base font-semibold leading-6">
			  Apply Now
			</div>
			<div class="text-black text-base font-semibold leading-6">
			  Contact Us
			</div>
			<div
			  class="text-black text-base font-semibold leading-6 grow whitespace-nowrap"
			>
			  FAQs
			</div>
		  </div>
		  <div class="justify-end items-stretch flex gap-3 pl-20 max-md:pl-5">
			<img
			  loading="lazy"
			  src="https://cdn.builder.io/api/v1/image/assets/TEMP/7cb14ad2a93b6b3a5f6779774b00ea9979e4593abdd26f850601973b3da4ab21?apiKey=9ab81557e95a4d01afa409e418116847&"
			  class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
			/>
			<img
			  loading="lazy"
			  src="https://cdn.builder.io/api/v1/image/assets/TEMP/0ea003e49fd93659e1550be5605e2cfa00850629e05d9c9a3ab4d9a5231c7d49?apiKey=9ab81557e95a4d01afa409e418116847&"
			  class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
			/>
			<img
			  loading="lazy"
			  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c526b5f36ed774814623889a298073f6b03a54ab7a1d44d33a212340c19561f9?apiKey=9ab81557e95a4d01afa409e418116847&"
			  class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
			/>
			<img
			  loading="lazy"
			  src="https://cdn.builder.io/api/v1/image/assets/TEMP/c7dc4208c3c955b42542a250641d3ad0c2aa7f782e1cc8e26b90e21427e49696?apiKey=9ab81557e95a4d01afa409e418116847&"
			  class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
			/>
			<img
			  loading="lazy"
			  src="https://cdn.builder.io/api/v1/image/assets/TEMP/3f4318eae322873ca0f4ed75b8aa34d82d91a5a1b9ec6bbd882bc86ed83a6cc2?apiKey=9ab81557e95a4d01afa409e418116847&"
			  class="aspect-square object-contain object-center w-6 overflow-hidden shrink-0 max-w-full"
			/>
		  </div>
		</div>
	  </div>
	  <div
		class="self-stretch bg-black flex shrink-0 h-px flex-col mt-20 max-md:max-w-full max-md:mt-10"
	  ></div>
	  <div
		class="items-stretch flex justify-between gap-5 mt-8 mb-8 max-md:max-w-full max-md:flex-wrap"
	  >
		<div class="text-black text-sm leading-5 grow whitespace-nowrap">
		  © 2023 JobAbility. All rights reserved.
		</div>
		<div class="items-stretch flex justify-between gap-5">
		  <div
			class="text-black text-sm leading-5 underline grow whitespace-nowrap"
		  >
			Privacy Policy
		  </div>
		  <div class="text-black text-sm leading-5 underline">
			Terms and Conditions
		  </div>
		  <div
			class="text-black text-sm leading-5 underline grow whitespace-nowrap"
		  >
			Cookie Policy
		  </div>
		</div>
	  </div>
</div>